<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <!--
    These input fields are used to collect the information
    required to complete the referenced Customer object.
    -->
    <table border="0" cellpadding="10">
        <tr>
            <td>Username</td>
            <td><input type="text" th:field="*{username}" required/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}" required/></td>
        </tr>
        <tr>
            <td>Customer Name:</td>
            <td><input type="text" th:field="*{customer.fullName}" required/></td>
        </tr>
        <tr>
            <td>Email Address:</td>
            <td><input type="email" th:field="*{customer.emailAddress}" required/></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="number" th:field="*{customer.age}" required/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><textarea type="text" th:field="*{customer.address}" required></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Save</button> </td>
        </tr>
    </table>
</form>
</body>
</html>